.container {
    background-color: #F0EBE3;
    height: 100vh;
}

.game-over {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    letter-spacing: 1em;
    background-color: black;
    opacity: 92%;
    color: rgb(193, 193, 193);  
    z-index: 1000;
}

.logo {
    position: absolute;
    top: -5%;
    left: 2%;
    color:#576F72;
    font-size: 3em;
    padding: 0.2em;
    border: solid 2px #576F72;
    border-radius: 20%;
}

.buttons-ini {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 28%;
}

.btn-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 317px;
    height: 80px;
    padding: 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 24px;
    background: #576F72;
    margin-bottom: 20px;
}

.btn-add {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 30px;
    padding: 24px;
    color: #576F72;
    font-size: 18px;
    text-decoration:none;
    outline: solid 1px;
    border-radius: 24px;
    top: 110%;
}

/* estilos para la página añadir palabra */

.input-add-word {
    position: relative;
    width: 299px;
    height: 48px;
    top: 150px;
    left: 25%;
    background: none;
    border: none;
    outline: none;
    font-size: 32px;
    color: #576F72;
}

.input-add-word::placeholder {
    color:#576F72;
}

.max {
    position: absolute;
    top: 60%;
    left: 26%;
    color: #576F72;
}

.buttons-add {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#save {
    width: 332px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    color: white;
    background-color: #576F72;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

#cancel {
    width: 328px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #576F72;
    outline: solid 1px #576F72;
    border-radius: 24px;
    text-decoration: none;
}

#cancel:visited {
    color: #576F72;
}

/* estilos para la página del juego */

#canvas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7%;
    opacity: 90%;
}

#hidden-word {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20%;
    font-size: 48px;
    line-height: 0px;
}

.guess {
    height: 30px;
    width: 50px;
    text-align: center;
    margin: 0 2% 4% 0;
    color: #576F72;
    border-bottom: solid 1px #576F72;  
    user-select: none;
}

.invisible-word {
    color: transparent;
}

.successful {
    height: 30px;
    width: 50px;
    text-align: center;
    margin: 0 2% 4% 0;
    color: black;
    border-bottom: solid 1px black; 
}

#fail-word {
    position: relative;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #576F72;
    letter-spacing: 0.7em;
    top: 18%;
    font-size: 30px;
}

.buttons-game {
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: center;
    top: 30%;
    z-index: 2000;
}

#newGame {
    width: 332px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    color: white;
    background-color: #576F72;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

#desist {
    width: 328px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    outline: solid 1px #576F72;
    color: #576F72;
    text-decoration: none;
}

#desist:visited {
    color: #576F72;
}